# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/

# Environment secrets
.env
.env.local

# Node
node_modules/
dist/

# VS Code local settings
.vscode/

# Uploads
uploads/

# Machine learning models
*.joblib
*.pkl